@import variables
@import header

body
    +font()
    margin: 0

.container
    margin: 0 20px

.flex-wrapper
    display: flex
    justify-content: space-between
    align-items: center

@media (min-width: 700px)
    .container
        margin: 0 40px

@media (min-width: 1200px)
    .container
        margin: 0 auto
        width: 940px